td {
  text-align: center;
  padding: 10px;
}


.radio label {
  margin-right: 10px;
  font-size: 18px;
}

label img {
  vertical-align: top;
}

label {
  padding: 10px;
}

.quiz {
  padding: 10px;
}

.result {
  display: none;
  text-align: center;
}

.button {
  text-align: center;
  margin-top: 20px;
}

h1 {
  text-align: center;
}

h3 {
  text-align: center;
}
